<div class="row height1000-Dev">
    <div class="col-md-5 paintGrey-Dev maxHeight-Dev"><!-- START Player 1 Container -->
        <div class="row"><!-- START Player 1 Name Plate Div -->
            <div class="col-md-3 paintYellow-Dev height150-Dev">
                <h3>Player One Picture</h3>
            </div><!-- END Player 1 Picture Div -->
            <div class="col-md-9 paintGreen-Dev height150-Dev">
                <h1>Player One Name</h1>
            </div><!-- END Player 1 Name Div -->
        </div><!-- END Player 1 Name Plate Div -->
        <div><!-- START Player 1 Roll Select Div -->
            <div class="row">
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 1</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 2</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 3</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 4</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 5</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 6</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 7</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 8</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 9</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 10</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 11</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 12</div>
            </div><!-- END Player 1 Dice Rows -->
        </div><!-- END Player 1 Roll Select Div -->
    </div><!-- END Player 1 Container -->

    <div class="col-md-2 paintBlue-Dev maxHeight-Dev"><!-- START Scores Div -->
        <button type="button" class="btn btn-lg btn-danger">ROLL !</button>
        <h2>Scores</h2>
    </div><!-- END Scores Div -->

    <div class="col-md-5 paintGrey-Dev maxHeight-Dev"><!-- START Player 2 Container -->
        <div class="row"><!-- START Player 2 Name Plate Div -->
            <div class="col-md-3 paintYellow-Dev height150-Dev">
                <h3>Player Two Picture</h3>
            </div><!-- END Player 2 Picture Div -->
            <div class="col-md-9 paintGreen-Dev height150-Dev">
                <h1>Player Two Name</h1>
            </div><!-- END Player 2 Name Div -->
        </div><!-- END Player 2 Name Plate Div -->
        <div><!-- START Player 2 Roll Select Div -->
            <div class="row ">
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 1</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 2</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 3</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 4</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 5</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 6</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 7</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 8</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 9</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 10</div>
                <div class="height50-Dev col-md-3 paintPurple-Dev">Dice 11</div>
                <div class="height50-Dev col-md-3 paintRed-Dev">Dice 12</div>
            </div><!-- END Player 2 Dice Rows -->
        </div><!-- END Player 2 Roll Select Div -->
    </div><!-- END Player 2 Container -->
</div>