<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--ignore path errors in IntelliJ app.js concatinates the public path-->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
